@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #F3F5FC;
}

body::-webkit-scrollbar {
    display: none;
}

.logo {
    margin: 40px;
    position: absolute;
}

.area-container {
    width: 100vw;
    height: 100vh;
    padding: 35px;
}

/*Area de Ingresado de Texto*/

.input-section {
    width: 50%;
    height: 80%;
    margin: 80px 0 0 220px;
    display: inline-block;
}

.input-textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    background: #F3F5FC;
    color: darkblue;
    width: 100%;
    border: none;
    resize: none;
    display: block;
}

.input-textarea::placeholder {
    color: darkblue;
}

.input-textarea:focus {
    outline: none;
}

.input-warning {
    display: flex;
    align-items: center;
    margin: 15px;
}

.input-warning-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-left: 10px;
}

.input-buttons {
    text-align: center;
    margin-top: 25px;
}

.input-encriptar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background: darkblue;
    color: white;
    width: 45%;
    padding: 15px;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    border-radius: 20px;
    margin: 0 15px;
    transition: 500ms;
}

.input-encriptar:hover {
    cursor: pointer;
    background: #0000AA;
    border-radius: 10px;
    transition: 500ms;
}

.input-desencriptar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background: #F3F5FC;
    color: darkblue;
    width: 45%;
    padding: 15px;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    border-radius: 20px;
    margin: 0 15px;
    transition: 500ms;
}

.input-desencriptar:hover {
    cursor: pointer;
    background: white;
    border-radius: 10px;
    transition: 500ms;
}

/*Area de Salida de Texto*/

.output-section {
    background: white;
    width: 25%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 10px lightgray;
    justify-content: center;
    float: right;
}

.output-info {
    margin-top: 25%;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.output-image-resize {
    width: 85%;
    margin: 7.5%;
    display: block;
}

.output-info-warning {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 7.5%;
    display: block;
}

.output-info-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 7.5%;
    display: block;
}

.output-message {
    height: 100%;
    display: none;
}

.output-textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background: white;
    color: gray;
    width: 85%;
    height: 77.5%;
    padding: 0;
    border: none;
    margin: 7.5% 7.5% 0 7.5%;
    resize: none;
}

.output-textarea:focus {
    outline: none;
}

.output-button {
    text-align: center;
    display: flex;
}

.output-copiar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    background: #F3F5FC;
    color: darkblue;
    width: 100%;
    padding: 5%;
    border-style: solid;
    border-color: darkblue;
    border-width: 2px;
    border-radius: 20px;
    margin: 7.5% 7.5% 7.5% 7.5%;
    transition: 500ms;
}

.output-copiar:hover {
    cursor: pointer;
    background: white;
    border-radius: 10px;
    transition: 500ms;
}

/*Links de Contacto*/

footer {
    background: #000055;
    color: white;
}

.footer-container {
    padding: 50px;
    display: flex;
}

.creator {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.creator h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.creator p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-top: 25px;
}

.contact {
    width: 50%;
    text-align: center;
    display: inline-block;
}

.contact h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;    
}

.contact-icons {
    font-size: 36px;
    margin-top: 25px;
}

.contact-icons a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: inline-block;
}

#linkedin-icon {
    margin-left: 30px;
}